.Laukums
{
    background: rgb(192, 137, 199);
    border-style: double;
}
.header {
    background-color: #eca5a5;
    padding: 20px;
    text-align: center;
}
h1
{
    text-align: center;
    font-size: 45px;
}

ul{
    text-align: center;
}
li
{
display: inline-block;

}
.top-bar{
    float: center;
    display: block;
    color: #f8f1f1;
    border-style: double;
    padding: 14px 16px;
    text-decoration: none;
   background-color: #8f4343;
}


  p{
      text-align: center;
      font-size: 20px;
   
  }

  #noteikumi {
    border-style: double;
  }
#spele{
    border-style: double;
}

#tops{
    border-style: double; 
    text-align: center;
}

.bloks
{
   
    display: inline-block; 
   background: rgb(195, 191, 211);
   width: 90px;
   height: 90px;
   border: 2px solid rgba(39, 31, 88, 0.308);
}
.ievaddati{
    text-align: right;
}
