.wrapper
{
    background: rgb(192, 137, 199);
    border-style: double;
}
.header {
    background-color: #eca5a5;
    padding: 20px;
    text-align: center;
    
} 
.poga{
    font-size: 20px; 
    background-color: #ebc4c4;
}
body {
    background-image: url("burti.jpg");

}
h1
{
    text-align: center;
    font-size: 45px;
}
h2
{ 
    text-align: center;

}

ul{
    text-align: center;
}
li
{
display: inline-block;

}
.menu{
    float: center;
    display: block;
    color: #f8f1f1;
    border-style: double;
    padding: 14px 16px;
    text-decoration: none;
   background-color: #8f4343;
}


  p{
      text-align: center;
      font-size: 20px;
   
  }

 #noteikumi {
    border-style: double;
  }
#spele{

    border-style: double;
    font-size: 20px; 
    text-align: center;
    padding: 10px;
    width: 150px;
  height: 50px;  
  background-color: #f8dfdf;
   border: 1px solid red;
float: center;
}
.tabula{

}

#tops{
    border-style: double; 
    text-align: center;
}

#mini{
    text-align: center;
    font-size: 20px;
}
.ievaddati{
    text-align: right;
}
.tabula{
    text-align: center;
}
#skaits{
    font-size: 20px; 

}
#speletajs{
    font-size: 20px;
    border-style: double;
    border-radius: 30%;
    text-align: center;
    background-color: #f7f477;
}
#vards{
    font-size: 40px; 
    background-color: #f7f477; 
    text-align: center;
    
}
#sakt_speli{
  
    text-align: center;
}
#atbilde{
    font-size: 40px; 
}
